.jumbotron {
  background-image: url("../images/about.jpg");
}

.about {
  background-color: #f7f7f7;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.about .row {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 20px;
}

.about .third {
  border-bottom: none;
}

.about .container {
  min-width: 900px;
}

.about div .thumbnail {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about .left {
	border-right: 1px solid #dbdbdb;
}

.about .ted {
	border-bottom: none;
}