{% load static %}

<header class="border-bottom">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'core/images/logo.png' %}" height="30" alt="TEDxPOSTECH">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ml-auto">


                <li class="nav-item">
                    {% if request.resolver_match.url_name == 'home' %}
                    <a class="nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    {% else %}
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                    {% endif %}
                </li>
                
                <li class="nav-item">
                    {% if request.resolver_match.url_name == 'about' %}
                    <a class="nav-link active" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
                    {% else %}
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                    {% endif %}
                </li>

                <li class="nav-item dropdown">
                    {% if request.resolver_match.url_name == 'pastevent' %}
                    <a class="nav-link dropdown-toggle active" href="#" id="pastEventsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Past Events
                    </a>
                    {% else %}
                    <a class="nav-link dropdown-toggle" href="#" id="pastEventsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Past Events
                    </a>
                    {% endif %}
                    <div class="dropdown-menu" aria-labelledby="pastEventsDropdown">
                        {% for past_event in past_events %}
                        {% if request.resolver_match.url_name == 'pastevent' and request.resolver_match.kwargs.year == past_event.year %}
                        <a class="dropdown-item active" href="{% url 'pastevent' past_event.year %}">{{past_event.year}} TEDxPOSTECH <span class="sr-only">(current)</span></a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'pastevent' past_event.year %}">{{past_event.year}} TEDxPOSTECH</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </li>

                <li class="nav-item">
                    {% if request.resolver_match.url_name == 'speakers' %}
                    <a class="nav-link active" href="{% url 'speakers' %}">Speakers <span class="sr-only">(current)</span></a>
                    {% else %}
                    <a class="nav-link" href="{% url 'speakers' %}">Speakers</a>
                    {% endif %}
                </li>

                <li class="nav-item">
                    {% if request.resolver_match.url_name == 'organizers' %}
                    <a class="nav-link active" href="{% url 'organizers' %}">Organizers <span class="sr-only">(current)</span></a>
                    {% else %}
                    <a class="nav-link" href="{% url 'organizers' %}">Organizers</a>
                    {% endif %}
                </li>

                <li class="nav-item">
                    {% if request.resolver_match.url_name == 'sponsors' %}
                    <a class="nav-link active" href="{% url 'sponsors' %}">Sponsors <span class="sr-only">(current)</span></a>
                    {% else %}
                    <a class="nav-link" href="{% url 'sponsors' %}">Sponsors</a>
                    {% endif %}
                </li>


                <li class="nav-item">
                    {% if request.resolver_match.url_name == 'register' %}
                    <a class="nav-link active" href="{% url 'register' %}">Register <span class="sr-only">(current)</span></a>
                    {% else %}
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </li>

                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    {% if request.resolver_match.url_name == 'help' %}
                    <a class="nav-link active" href="{% url 'help' %}">Help <span class="sr-only">(current)</span></a>
                    {% else %}
                    <a class="nav-link" href="{% url 'help' %}">Help</a>
                    {% endif %}
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Admin</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </nav>
</header>

<a href="#" class="back-to-top d-flex justify-content-center align-item-middle position-fixed mb-3 mr-3 rounded-circle shadow">
    <i class="fa fa-angle-up d-block p-0"></i>
</a>