{% extends 'core/base.html' %}

{% load static %}
{% load humanize %}

{% block main %}

<main>
  <div class="jumbotron" style="background-image: url({{setting.event_now.organizers_photo.url}});">
    <div class="container">
      <h1 class="display-4">Organizers</h1>
      <p class="lead">{{setting.event_now.year}} TEDxPOSTECH을 준비한 {{organizers.count}}명의 {{setting.event_now.order|ordinal}} Organizer들을 소개합니다.</p>
    </div>
  </div>

  <div class="bg-grey border-top border-bottom my-5 py-4">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
          <h3>{{setting.event_now.letter_title}}</h3>
          {{setting.event_now.letter_text|linebreaks}}
          <div class="text-right">
            {{setting.event_now.letter_end|linebreaks}}
          </div>
        </div>
      </div>

      <div class="row no-gutters">
        {% for organizer in organizers %}
        <div class="col-sm-6 col-md-3 mb-3 visible-hover blur-hover">
          <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
            <h3 class="text-center font-weight-bold">{{organizer.name}}<br>{{organizer.department.abbreviation}} {{organizer.entered_year}}</h3>
          </div>
          <img src="{{ organizer.image.url }}" class="border border-thick img-fluid rounded-circle mx-auto my-auto d-block">
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</main>

{% endblock %}