{% extends 'core/base.html' %}

{% load static %}

{% block main %}
<main>
  <div class="jumbotron" id="speakers">
    <div class="container">
      <h1 class="display-4">Speakers</h1>
      {% if setting.event_now.is_end %}
      <p class="lead">{{setting.event_now.year}} TEDxPOSTECH을 빛내주셨던 연사분들을 소개합니다.</p>
      {% else %}
      <p class="lead">{{setting.event_now.year}} TEDxPOSTECH을 빛내주실 연사분들을 기대해주세요.</p>
      {% endif %}
    </div>
  </div>

  <div class="bg-grey border-top border-bottom my-5">
    <div class="container">

      {% for speaker in speakers %}

      {% if speaker.is_published %}

      {% if speaker.youtube_url %}

      <div class="embed-responsive embed-responsive-16by9 mt-4">
        <iframe class="embed-responsive-item" src="{{speaker.youtube_url}}"></iframe>
      </div>
      {% endif %}
      <div class="row border-bottom border-last-child-0 py-4 align-items-center">
        <div class="col-sm-12 col-md-4">
          <img src="{{ speaker.image.url }}" class="border border-thick img-fluid rounded-circle mx-auto my-auto d-block">
        </div>
        <div class="col-sm-12 col-md-8">
          <h3 class="text-center text-md-left mt-2">{{ speaker.name }}</h3>
          {{ speaker.explanation|linebreaks }}
        </div>
      </div>

      {% else %}

      <div class="row border-bottom border-last-child-0 py-4 align-items-center">
        <div class="col-sm-12 col-md-4">
          <img src="{% static 'core/images/speakers_comingsoon.png' %}" class="border border-thick img-fluid rounded-circle mx-auto my-auto d-block">
        </div>
        <div class="col-sm-12 col-md-8">
          <h1 class="text-center">Coming Soon!</h1>
        </div>
      </div>

      {% endif %}

      {% endfor %}

    </div>
  </div>
</main>
{% endblock %}