{% extends 'core/base.html' %}

{% load static %}

{% block main %}
<main>
  <div class="jumbotron" id="sponsor">
    <div class="container">
      <h1 class="display-4">Sponsors</h1>
      <p class="lead">행사 진행에 도움을 주신 다양한 스폰서들을 소개합니다.</p>
    </div>
  </div>

  <div class="sponsors">
    <div class="container">
      
      <img src="{% static 'core/images/biglogo.png' %}" class="img-fluid mx-auto mb-4 d-block">
      <h2 class="text-center">with</h2>

      <div class="card-columns">
        {% for sponsor in sponsors %}
        <div class="card border-0">
          {% if sponsor.website_url %}
          <a href="{{sponsor.website_url}}" target="_blank">
            <img class="card-img p-4" src="{{sponsor.image.url}}" alt="{{sponsor.name}}">
          </a>
          {% else %}
          <img class="card-img p-4" src="{{sponsor.image.url}}" alt="{{sponsor.name}}">
          {% endif %}
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</main>
{% endblock %}