@import url(/static/core/fonts/nanumgothic.css);

/* GLOBAL */

* {
  font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
  text-align: justify;
}

/* UTILITY */

.bg-grey {
  background-color: #f7f7f7;
}

.border-thick {
  border-width: 4px !important;
}

@media screen and (min-width: 576px) {
  .border-sm-right {
    border-right: 1px solid #dbdbdb;
  }
}

@media screen and (min-width: 768px) {
  .border-md-right {
    border-right: 1px solid #dbdbdb;
  }
}

@media screen and (min-width: 992px) {
  .border-lg-right {
    border-right: 1px solid #dbdbdb;
  }
}

.border-last-child-0:last-child {
  border: none !important;
}

/* HEADER */

header a {
  color: black !important;
  font-size: 15px;
  text-transform: uppercase;
}

header a.nav-link.active {
  font-weight: bold;
  color: red !important;
}

header .navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
}

header > nav li > a:focus, header > nav li > a:hover {
  background-color: #eee;
}

/* FOOTER */

footer {
  font-size: 11px;
}

/* JUMBOTRON */

.jumbotron {
  padding: 4rem 1rem 20rem 1rem;
  color: white;
  text-shadow: rgba(0, 0, 0, 1) 3px 3px 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbotron h1 {
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .jumbotron h1 {
    font-size: 35px;
  }
}

.jumbotron#about {
  background-image: url("/static/core/images/jumbotron/about.jpg");
}

.jumbotron#speakers {
  background-image: url("/static/core/images/jumbotron/speakers.jpg");
}

.jumbotron#organizers {
  background-image: url("/static/core/images/jumbotron/organizer.jpg");
}

.jumbotron#sponsor {
  background-image: url("/static/core/images/jumbotron/sponsors.png");
}

.jumbotron#register {
  background-image: url("/static/core/images/jumbotron/register.jpg");
}

.jumbotron#y2016 {
  background-image: url("/static/core/images/jumbotron/2016.png");
}

.jumbotron#y2015 {
  background-image: url("/static/core/images/jumbotron/2015.jpg");
}

.jumbotron#y2011 {
  background-image: url("/static/core/images/jumbotron/2011.jpg");
}